<script src="/js/jquery.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/header.js"></script>
<script src="/js/main.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/html2canvas.min.js"></script>
<script>
function handleExternalLinks() {

  // Variables.
  var links = document.links;
  var linksLength = links.length;
  var link;
  var linkHref;
  var hostname = window.location.hostname;

  // Loop through all links.
  for (var i = 0; i < linksLength; i++) {

    // Instantite the indivdual link.
    link = links[i];

    // Get the link's href attribute.
    linkHref = link.href;

    // If the link is to an external site or a javascript:void(0);.
    if (
      link.hostname != hostname &&
      linkHref !== 'javascript:void(0)' &&
      linkHref !== 'javascript:void(0);'
    ) {

      // Set the target of the link to _blank.
      link.target = '_blank';
    }
  }
} // handleExternalLinks()

handleExternalLinks();
</script>

{{ if .Site.GoogleAnalytics }}
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
